<section class="YyF7F8PcyVZ7HR5GiId_ _6AI6SY1lyVfKpv37xl0 POA0xdG25nlhxqWJyl1U pcWvkQQ8p_VQZFs_K2QA lxr73ToDk8rdp_lBYfnv w2FVb1hpekxixpXpZt_l dsD1WewHsapDmRBghlcS">
  <div class="kqgYncRJQ7spwKfig6It BrSO24r_jx46AXZOyBJR neyUwteEn7DOg9pBSJJE _WclR59Ji8jwfmjPtOei FO3G25Z1U_eQQNhsW0wX OmM4wtdsNjVR2r7OSzsm RV8RoaI_SlEMC5CEQ3ms AuPbrCAJ076tmJlmTcTS pt:mt-0">
    <a href="#" class="kqgYncRJQ7spwKfig6It neyUwteEn7DOg9pBSJJE SGCI_v4dZasZ65DtKHsW _e063bssp_1bldcJ6kR0 LYMps1kO2vF8HBymW3az wP9HMsqy6b96l2HBRbgb">
      <img class="_vZPglRSyqi4oTXg5L1_ _pwSRUXRHN5bHphyTRKz _gmxfZ2BpOHxa6nWwqBB" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo">
      EventHub
    </a>
    <div class="jCISvWkW5oStPH6Wrb_H yjGyQxv8jnYk9_MGMqLN _Qk4_E9_iLqcHsRZZ4ge lhxYQ_2y3sYNN3W1V_3q SZQeSiboYZ5XUz34Uale G0NAwQLyUJI4iigrjSVX __hMqaXVN0_ff3jheWeo _cpMMPjFQqjJu4i0Puod">
      <div class="rhHZLKCNkg6rp7jwfB1J FLfl_xS1XCloWU2wRi87 Z6U5SEO6oB8k0BUE6Lpu lcTWMnwYwtiy3oZgcfyj Vxu5gt71Zexz5PXSkXLX">
        <h1 class="uyo8h_4Kh1IoUwm8bwJI _WfIfkoGCi0vvUrnNs4M jGqC6Vyq4r7i62RWVQU_ marR_sCaF_d1KewmkXGX _F_1gdhzusC6tSOWHtx_ g3OYBOqwXUEW4dRGogkH WDZMD3ZlXdlM6viFVQHq a0Ed69aMSu0vgf4oysz0">
          Sign in to your account
        </h1>
        <form class="FLfl_xS1XCloWU2wRi87 Z6U5SEO6oB8k0BUE6Lpu" action="#">
          <div>
            <label for="email" class="ttxtqsLWp2pFRX8yUvWd rD4HtsUG_hahmbh2Kj09 MxG1ClE4KPrIvlL5_Q5x _A6LflweZRUwrcL6M2Tk g3OYBOqwXUEW4dRGogkH a0Ed69aMSu0vgf4oysz0">Your email</label>
            <input [(ngModel)]="loginUserData.email" type="email" name="email" id="email" class="jCHKuJ3G7rklx_LiAfbf PWreZZgitgAm_Nv4Noh9 T_tFENbpK8DMDNjQRyQa g3OYBOqwXUEW4dRGogkH rpoQ3z3YFaRvK40y_xhF _Qk4_E9_iLqcHsRZZ4ge focus:ring-primary-600 focus:border-primary-600 ttxtqsLWp2pFRX8yUvWd jCISvWkW5oStPH6Wrb_H _4wtDMQ2AdJOlYvml5sL _t2wg7hRcyKsNN8CSSeU _BIVSYBXQUqEf_ltPrSk _DJ2tfp6E9c_teMKVD3z a0Ed69aMSu0vgf4oysz0" placeholder="name@company.com" required="">
          </div>
          <div>
            <label for="password" class="ttxtqsLWp2pFRX8yUvWd rD4HtsUG_hahmbh2Kj09 MxG1ClE4KPrIvlL5_Q5x _A6LflweZRUwrcL6M2Tk g3OYBOqwXUEW4dRGogkH a0Ed69aMSu0vgf4oysz0">Password</label>
            <input [(ngModel)]="loginUserData.password" type="password" name="password" id="password" placeholder="••••••••" class="jCHKuJ3G7rklx_LiAfbf PWreZZgitgAm_Nv4Noh9 T_tFENbpK8DMDNjQRyQa g3OYBOqwXUEW4dRGogkH rpoQ3z3YFaRvK40y_xhF _Qk4_E9_iLqcHsRZZ4ge focus:ring-primary-600 focus:border-primary-600 ttxtqsLWp2pFRX8yUvWd jCISvWkW5oStPH6Wrb_H _4wtDMQ2AdJOlYvml5sL _t2wg7hRcyKsNN8CSSeU _BIVSYBXQUqEf_ltPrSk _DJ2tfp6E9c_teMKVD3z a0Ed69aMSu0vgf4oysz0" required="">
          </div>
          <div class="kqgYncRJQ7spwKfig6It neyUwteEn7DOg9pBSJJE _T15kfOPGkvwZnqhqKce">
            <div class="kqgYncRJQ7spwKfig6It __9yfFbPJuEYWBMy4kA9">
              <div class="kqgYncRJQ7spwKfig6It neyUwteEn7DOg9pBSJJE RRXFBumaW2SHdseZaWm6">
                <input id="remember" aria-describedby="remember" type="checkbox" class="kbeH5ty3CtPKxXm5TXph eVNhx7m5tjSVbfYQzDdT PWreZZgitgAm_Nv4Noh9 T_tFENbpK8DMDNjQRyQa YPSoR6AXtPgkmylUmcbT jCHKuJ3G7rklx_LiAfbf focus:ring-3 focus:ring-primary-300 _t2wg7hRcyKsNN8CSSeU _BIVSYBXQUqEf_ltPrSk dark:focus:ring-primary-600 apRlbPZRJ4JWA5RVdURT" required="">
              </div>
              <div class="Ljy4iPgx864jXhJbnInL MxG1ClE4KPrIvlL5_Q5x">
                <label for="remember" class="K1PPCJwslha8GUIvV_Cr _Rz9TooiK_4jTN_Ub8Gm">Remember me</label>
              </div>
            </div>
            <a routerLink="/reset-password" class="MxG1ClE4KPrIvlL5_Q5x _A6LflweZRUwrcL6M2Tk text-primary-600 _5zvlMLkN1qETxEl3IhT dark:text-primary-500">Forgot password?</a>
          </div>
          <button (click)="login($event)" type="submit" class="jCISvWkW5oStPH6Wrb_H wP9HMsqy6b96l2HBRbgb bg-primary-600 hover:bg-primary-700 _FONMPVaCsLFJJGDaaIL qHIOIw8TObHgD3VvKa5x focus:ring-primary-300 _A6LflweZRUwrcL6M2Tk _Qk4_E9_iLqcHsRZZ4ge MxG1ClE4KPrIvlL5_Q5x bFARDnno0HUtfhktTXfR _gKcj49wZgnwx1LpcJi6 _F_1gdhzusC6tSOWHtx_ dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Log in to your account</button>
          <p class="MxG1ClE4KPrIvlL5_Q5x XdjN1uxS_rsa3F90ox40 _F_1gdhzusC6tSOWHtx_ K1PPCJwslha8GUIvV_Cr _Rz9TooiK_4jTN_Ub8Gm">
            <a routerLink="/register" class="_A6LflweZRUwrcL6M2Tk text-primary-600 _5zvlMLkN1qETxEl3IhT dark:text-primary-500">Don't have an account?</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
