<section class="yjGyQxv8jnYk9_MGMqLN zlFmyfujKXCLCPyPEOIS">
  <div class="OmM4wtdsNjVR2r7OSzsm veFXkDzfJN473U3ycrV8 RV8RoaI_SlEMC5CEQ3ms HV01LldvyEqRHHy0hljF WCuT1fik3CBnD3pdfvW6 zXmzaS_teQs68Y6Tn9hZ jj0BrgkBpq72EXwWuBh5">
    <h2 class="_9OKVeTXzfSwD_NYO6_G _Bu4HL5sPDOGN_IKUsOc marR_sCaF_d1KewmkXGX P2kov_od1FPjxxII24T5 g3OYBOqwXUEW4dRGogkH a0Ed69aMSu0vgf4oysz0">Our special-Events</h2>
    <p class="XdjN1uxS_rsa3F90ox40 K1PPCJwslha8GUIvV_Cr MozT3ykswwrve9XfJmlm PZVNac5Ma0NApGb3Wosk lg:px-38 aSiQ8uo0lLDrGX7jdKKf eCx_6PNzncAD5yo7Qcic">We are strategists, designers and developers. Innovators and problem solvers. Small enough to be simple and quick, but big enough to deliver the scope you want at the pace you need.</p>
    <div class="Ced8tRkG1VjcbmNVdBtj lsxQ9VBHG6OaaiHcd9sV qPk6ygVqUyrzTx0CVDbs UDXb4L3OM_qmuMTui3_W V44FyVgeNRVLXWcZJkJX">
      <!--<img class="GgmUn_AzvO94fJHuDz7E _9OKVeTXzfSwD_NYO6_G _6or7OI7iFzuq6XP4tjM _Qk4_E9_iLqcHsRZZ4ge" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/content-gallery-1.png" alt="content gallery 1">-->
      <div *ngFor="let event of specialEvents">
        <img class="j2x7_17hqRVmwte_tWFa ErEf06xBWlXPqOC7JqjS mVqi6z4YMC4_3WgpFYWB _Qk4_E9_iLqcHsRZZ4ge" [src]="event.image_link" [alt]="event.name">
      </div>
      <!--<img class="j2x7_17hqRVmwte_tWFa ErEf06xBWlXPqOC7JqjS mVqi6z4YMC4_3WgpFYWB _Qk4_E9_iLqcHsRZZ4ge" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/content-gallery-2.png" alt="content gallery 2">
      <img class="j2x7_17hqRVmwte_tWFa ErEf06xBWlXPqOC7JqjS mVqi6z4YMC4_3WgpFYWB _Qk4_E9_iLqcHsRZZ4ge" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/content-gallery-3.png" alt="content gallery 3">
      <img class="j2x7_17hqRVmwte_tWFa ErEf06xBWlXPqOC7JqjS mVqi6z4YMC4_3WgpFYWB _Qk4_E9_iLqcHsRZZ4ge" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/content-gallery-4.png" alt="content gallery 4">
      <img class="GgmUn_AzvO94fJHuDz7E _Qk4_E9_iLqcHsRZZ4ge" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/content-gallery-5.png" alt="content gallery 5">
      <img class="j2x7_17hqRVmwte_tWFa ErEf06xBWlXPqOC7JqjS mVqi6z4YMC4_3WgpFYWB _Qk4_E9_iLqcHsRZZ4ge" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/content-gallery-6.png" alt="content gallery 6">-->
    </div>
  </div>
</section>
